%h1 Hey!

-if current_account.has_profile?
  %h3 You already have a profile! Nice!

  %h4 #{current_profile.first_name} #{current_profile.last_name}
  %p= current_profile.about

  =link_to 'Edit profile', edit_profile_path(current_profile)
-else
  %h3 in order to use our resume generator, we need to know more about you!

  =link_to 'Create a profile', new_profile_path
